/* @font-face { font-family: Montserrat; src: url('font/OstrichSans-Medium.otf'); } */

/* for construction */
/* * {border:1px solid red} */

/* The animation code */
/* @keyframes fadeIn {
  0% {color: rgba(0, 0, 0, 0);}
  100% {color: rgba(0, 0, 0, 1);}
} */

/* @keyframes imageColour {
  0% {filter: grayscale(100%);}
  100% {filter: grayscale(0%);}
} */




html {
    overflow-y: scroll;
}

body {
  /* TODO: switch background image when not beta mode */
  /* background-image: url("/img/background-blackboard.jpg"); */
  background-image: url("../img/background-blackboard.jpg");

  /* background-size: 100%; */
  max-width: 1170px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  /* background-color: #000; */
  font-family: Courier, Calibri-light, Ostrich, Helvetica, sans-serif;
  font-size: 12pt;
}

.decoration {
  position: absolute;
  bottom: -25px;
  left: -45px;
  /* width: 10px; */
  z-index: -1000;
}

.decoration img {
  width: 100px;
}


/* to fix stupid modal margin right problem in windows */
#bo.modal-open {
  padding-right: 1rem !important;
}

#bo.modal-open .container-fluid img {
  filter: grayscale(100%);
  transition: filter 2s;
}

#bo .modal-content {
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 90%);
}

#bo .modal-backdrop.show {
  opacity: 0.7;
}

#bo .modal-content button.close {
  color: white;
  text-shadow: 0 1px 0 hsl(0, 0%, 15%);
}

#bo .modal-header {
  border-bottom: 1px solid hsl(0, 0%, 30%);
}

#bo .modal-footer {
  border-top: 1px solid hsl(0, 0%, 30%);
  display: block;
  text-align: center;
}

#bo .modal-footer a {
  color: hsl(0, 0%, 70%)
}

#modal-title {
  font-weight: bold;
  display: block;
  text-align: center;
}

#modal-credits {
  color: hsl(0, 0%, 70%);
  font-style: italic;
  text-align: right;
  font-size: 0.9em;
}

/* #bo.modal-open {
  overflow: hidden;
} */


.brand {
  font-variant: small-caps;
  letter-spacing: 0.2em;
}

.navbar-brand small {
  display: block;
  text-align: center;
  /* font-size: 0.4em; */
  color: hsl(360, 0%, 50%);
  font-family: 'Montserrat', sans-serif;
}

.nav-item {
  font-size: 1.3em;
  font-family: 'Montserrat', sans-serif;
}

#bo .nav-link,
#bo .nav-tabs {
  background: none;
  border: none;
}

/* #bo .fade {
  transition: opacity 0.3s;
} */

#bo .navbar-toggler {
  border: none;
  padding: 0.25rem 0.25rem;
}

#bo .navbar-toggler:focus {
  outline: 0;
}

.portfolio-box {
  position: relative;
  display: block;
  /* max-width: 650px; */
  margin: 0 auto;
}

.portfolio-box-caption {
  position: absolute;
  opacity: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.portfolio-box-caption-content {
  pointer-events: none;
  position: absolute;
  bottom: 0%;
  width: 100%;
  background: hsla(360, 0%, 0%, 0.5);
  padding: 0.7em;
  /* -webkit-transform: translateY(-50%); */
  /* transform: translateY(-50%); */
}

.portfolio-box-caption-content h3 {
  margin: 0;
  font-size: 1em;
  color: hsl(360, 0%, 80%);
  text-align: center;
  /* font-variant: small-caps; */
  /* font-family: "Trebuchet MS", "Tahoma"; */
}

.portfolio-box-caption-content > * {
  color: white;
}

.project-description,
.project-credits,
.project-content {
  display: none;
  opacity: 1;
}

.social-icon {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}

.social-icon li {
  /* display: inline-block;
  text-align: center; */
}

.social-icon a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 3em;
  height: 3em;
  /* line-height: 3em; */
  border: 4px solid hsl(360, 0%, 95%);
  border-radius: 50%;
  color: #000; /* social icon color */
  transition: all 0.2s;
}

.email-colour:hover {
  border-color: #ffa500;
  /* color: #fff; /* social icon hover color */ */
  transition: border 0.2s;
}
.facebook-colour:hover {
  border-color: #3b5998;
  /* color: #fff; /* social icon hover color */ */
  transition: border 0.2s;
}
.vimeo-colour:hover {
  border-color: #1ab7ea;
  /* color: #fff; /* social icon hover color */ */
  transition: border 0.2s;
}
.linkedin-colour:hover {
  border-color: #0976b4;
  /* color: #fff; /* social icon hover color */ */
  transition: border 0.2s;
}
.instagram-colour:hover {
  border-color: #bc2a8d;
  /* color: #fff; /* social icon hover color */ */
  transition: border 0.2s;
}
